contourpy==1.2.1
cycler==0.12.1
deap==1.4.1
fonttools==4.53.1
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==2.1.0
packaging==24.1
pandas==2.2.3
pillow==10.4.0
pyaml==24.7.0
pyparsing==3.1.4
pyswarm==0.6
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
scikit-learn==1.5.1
scikit-optimize==0.10.2
scipy==1.14.1
seaborn==0.13.2
setuptools==72.1.0
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.2
wheel==0.43.0
